#-----------------------------------------------------------------------------------------
#   Ignoring deprecated code templates.
#-----------------------------------------------------------------------------------------
/deprecated/